[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
automium-web = "*"
views = "*"
django-rest-swagger = "*"

[requires]
python_version = "3.8"
