<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h5 class="card-header">Memes</h5>
        <div class="card-body">
            <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
            <div *ngIf="memePage && memePage.results">
                <div *ngFor="let meme of memePage.results">
                    <app-meme [meme]="meme"></app-meme>
                    <hr/>
                </div>            
            </div>
            <nav *ngIf="memePage && memePage.currentPage != memePage.totalPages">
                <ul class="pagination">
                    <li class="page-item" *ngIf="memePage.currentPage - 1 >= 1 && memePage.currentPage <= memePage.totalPages">
                        <a class="page-link" href="page/{{memePage.currentPage - 1}}">Previous</a>
                    </li>
                    <li class="page-item" *ngIf="memePage.currentPage - 3 >= 1 && memePage.currentPage <= memePage.totalPages">
                        <a class="page-link" href="page/{{memePage.currentPage - 3}}">{{memePage.currentPage - 3}}</a>
                    </li>
                    <li class="page-item" *ngIf="memePage.currentPage - 2 >= 1 && memePage.currentPage <= memePage.totalPages">
                        <a class="page-link" href="page/{{memePage.currentPage - 2}}">{{memePage.currentPage - 2}}</a>
                    </li>
                    <li class="page-item" *ngIf="memePage.currentPage - 1 >= 1 && memePage.currentPage <= memePage.totalPages">
                        <a class="page-link" href="page/{{memePage.currentPage - 1}}">{{memePage.currentPage - 1}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" nohref>{{memePage.currentPage}}</a>
                    </li>
                    <li class="page-item" *ngIf="memePage.currentPage >= 1 && memePage.currentPage && memePage.currentPage + 1 <= memePage.totalPages">
                        <a class="page-link" href="page/{{memePage.currentPage + 1}}">{{memePage.currentPage + 1}}</a>
                    </li>
                    <li class="page-item" *ngIf="memePage.currentPage >= 1 && memePage.currentPage && memePage.currentPage + 2 <= memePage.totalPages">
                        <a class="page-link" href="page/{{memePage.currentPage + 2}}">{{memePage.currentPage + 2}}</a>
                    </li>
                    <li class="page-item" *ngIf="memePage.currentPage >= 1 && memePage.currentPage && memePage.currentPage + 3 <= memePage.totalPages">
                        <a class="page-link" href="page/{{memePage.currentPage + 3}}">{{memePage.currentPage + 3}}</a>
                    </li>
                    <li class="page-item" *ngIf="memePage.currentPage >= 1 && memePage.currentPage && memePage.currentPage + 1 <= memePage.totalPages">
                        <a class="page-link" href="page/{{memePage.currentPage + 1}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
