<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <div class="nav-item nav-link">69Gag</div>
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
        <div class="nav-item" *ngIf="currentUser">{{currentUser.username}}</div>
    </div>
</nav>
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="!currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/login">Login</a>
        <a class="nav-item nav-link" routerLink="/register">Register</a>
        <div class="nav-item" *ngIf="currentUser">{{currentUser.username}}</div>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>